@font-face {
    font-family: Terminal;
    font-weight: normal;
    font-style: normal;
    src: url("/main/res/fonts/lucon.ttf");
}

body{
    background-color: black;
}

#kernel-terminal-content {
    display: block;
    overflow: auto;
}

#kernel-terminal-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: visible;
}

.kernel-terminal-line {
    position: relative;
    display: flex;
    order: 1;
}

.kernel-terminal-text {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: lightgray;
    font-family: 'Terminal';
    font-size: 14px;
    user-select: text;
}

.kernel-terminal-prompt {
    animation: blinker 1s infinite;
    position: relative;
    display: inline-block;
    color: lightgray;
    font-family: 'Terminal';
    font-size: 14px;
}

.terminalinput {
    position: relative;
    display: inline;
    width: 100%;
    flex-shrink: 1;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.50);
    font-family: 'Terminal';
    font-size: 14px;
    overflow: hidden;
    border: 0px;
    outline: 0px;
    display: table;
    padding-left: 8px;
    padding-top: 0px;
    overflow: none;
}

@keyframes blinker {
    0%{
        opacity: 0;
    }
    49.999999%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    99.99999%{
        opacity: 1;
    }
}