@keyframes rotateAnimation {
    0% {
	    transform: rotateY(45deg) scale(1);
	}
    50% {
	    transform: scale(2);
	}
    100% {
	    transform: rotateY(225deg) scale(1);
	}
}

.sc-iJnaPW {
	animation: rotateAnimation 1s infinite;
}

.sc-iJnaPW div {
	background-image: url("https://i.imgur.com/eHCPppV.png") !important;
}
