@keyframes rotateAnimation {
    from {
	    transform: rotateY(45deg), scale(1);
	}
    to {
	    transform: rotateY(225deg), scale(2);
	}
}

.sc-iJnaPW {
	animation: rotateAnimation 1s infinite;
}

